TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
s = input("enter your string: ")
print("the reversed string is : ", s[::-1])

enter your string:  hello

the reversed string is :  olleh

2. Check if a string is a palindrome.

In [9]:
s = input("enter your string: ")
#s1 is a temp variable to store the reversed string
s1 = s[::-1]
if s == s1:
    print("the string is a palindrone")
    
else:
    print("the string is not palindrone")

enter your string:  yay

the string is a palindrone

3. Convert a string to uppercase.

In [12]:
s = input("enter your string: ")
print("the uppercase sirng is" , s.upper() )

enter your string:  sayan

the uppercase sirng is SAYAN

4. Convert a string to lowercase.

In [16]:
s = input("enter your string: ")
print("the lowercaser tsirng is" , s.lower() )

enter your string:  HELLO

the lowercaser tsirng is hello

5. Count the number of vowels in a string.

In [15]:
s = input("enter your string: ")
count = 0
vowels=["a", "A", "e", "E", "i", "I", "o", "O", "u", "U"]
for character in s:
    #if vowel is found in the string it will increase the count by +1
    if character in vowels:
        count=count+1
print("the number of vowels is: ", count)

enter your string:  sayan

the number of vowels is:  2

6.Count the number of consonants in a string.

In [21]:
s = input("enter your string: ")
count = 0
consonant = 0
vowels=["a", "A", "e", "E", "i", "I", "o", "O", "u", "U"]
for character in s:
    #if vowel is found in the string it will increase the count by +1
    if character in vowels:
        count=count+1
        #if consonant is found in the string it will increase the consonant by +1
    else:
        consonant=consonant+1;
print("the number of vowels is: ", count)
print("the number of consonant is: ", consonant)

enter your string:  sayansaha

the number of vowels is:  4
the number of consonant is:  5

7. Remove all whitespaces from a string.

In [23]:
str = input("Please enter the string : ")
#it removes white spaces
trim_str = str.replace(" ", "")
print("the trimmed string is :", trim_str)

Please enter the string :  s    a y an

the trimmed string is : sayan

8. Find the length of a string without using the `len()` function.

In [29]:
str = input("Please enter the string : ")
#count is initialised as 0
count = 0
#a for loop to count the characters
for i in str:
 
    count+=1
print("the length of string is: ", count)

Please enter the string :  sayansaha

the length of string is:  9

9. Check if a string contains a specific word.

In [36]:
str = input("Please enter the string : ")
#search is variable to hold the word to search
search = input("Plese enter the word to search: ")
#loop to check if serach word is present in string str
if search in str:
    print("word has been found")
else:
    print("word has not been found")

Please enter the string :  i am sayan
Plese enter the word to search:  am

word has been found

10. Replace a word in a string with another word.

In [42]:
str = "Good Night"
#replace function will replace the word
new_str = str.replace("Good", "Bad")
 
print(new_str)

Bad Night

11. Count the occurrences of a word in a string.

In [48]:
str = input("Please enter the string : ")
search = input("Please enter the word to search : ")
#count function will search the string
print("the word appears this many times : ", str.count(search))

Please enter the string :  sayan saha sayan is a man
Please enter the word to search :  sayan

the word appears this many times :  2

12. Find the first occurrence of a word in a string.

In [52]:
str = input("Please enter the string : ")
search = input("Please enter the word to search : ")
#find method is used to find the occurance
print("occurance of the following word is: ", str.find(search))

Please enter the string :  sayan
Please enter the word to search :  s

occurance of the following word is:  0

13. Find the last occurrence of a word in a string.

In [55]:

str = input("Please enter the string : ")
search = input("Please enter the word to search : ")
#rfind method is used to find the occurance
print("occurance of the following word is: ", str.rfind(search))

Please enter the string :  sayansaha
Please enter the word to search :  a

occurance of the following word is:  8

14. Split a string into a list of words.

In [56]:
str = input("Please enter the string : ")
print("the splitted words are: ", str.split())

Please enter the string :  i am sayan

the splitted words are:  ['i', 'am', 'sayan']

15. Join a list of words into a string.

In [57]:
list = ["i", "am", "sayan"]
new_list = " ".join(list)
print("joined list is: ", new_list)

joined list is:  i am sayan

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [3]:
str = input("Please enter the string : ")
#str replace function is used to remove spaces and replace it with underscore
new_str = str.replace(" ", "_")
print("the new string is: ", new_str)

Please enter the string :  s a y a n

the new string is:  s_a_y_a_n

17. Check if a string starts with a specific word or phrase.

In [2]:
str = input("Please enter the string : ")
search = input("Please enter the word to search: ")
result = str.startswith(search)
temp = result
if temp == True:
 print("the string starts with the entered word")
else:
 print("the string doesn't start with the entered word")

Please enter the string :  sayan saha
Please enter the word to search:  saha

the string doesn't start with the entered word

18. Check if a string ends with a specific word or phrase.

In [14]:
str = input("Please enter the string : ")
search = input("Please enter the word to search: ")
result = str.endswith(search)
temp = result
if temp == True:
 print("the string ends with the entered word")
else:
 print("the string doesn't end with the entered word")

Please enter the string :  sayan saha
Please enter the word to search:  saha

the string ends with the entered word

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [19]:
str = input("Please enter the string : ")
new_str = str.title()
print("the captilized string is: ", new_str)

Please enter the string :  hello world

the captilized string is:  Hello World

20. Find the longest word in a string.

In [20]:

sentence =  input("Please enter the word : ")

words = sentence.split() 
longest_word = '' 

for word in words:
    if len(word) > len(longest_word):
        longest_word = word

print("Longest word:", longest_word)

Please enter the word :  i am sayan

Longest word: sayan

21. Find the shortest word in a string.

In [3]:
sentence =  input("Please enter the word : ")

words = sentence.split() 
small_word = words[0] 

for word in words:
    if len(word) < len(small_word):
        small_word = word

print("smallest word:", small_word)

Please enter the word :  hey its a good day

smallest word: a

22. Reverse the order of words in a string.

In [34]:

s = input("enter your word:")
# split first
a = s.split()
# reverse list
a.reverse()
# now join them
result = " ".join(a)
print(result)

enter your word: i am sayan

sayan am i

23. Check if a string is alphanumeric.

In [8]:
str =  input("Please enter the string : ")
check = str.isalnum()
print(check)
if check == True:
   print("list is alphanumeric")
    
else:

   print("list is not alphanumeric")

Please enter the string :  hi

True
list is alphanumeric

24. Extract all digits from a string.

In [5]:
my_string = "sayan 1 2 saha"

print("The string is : ")
print(my_string)

my_result = [int(i) for i in my_string.split() if i.isdigit()]

print("The numbers list is :")
print(my_result)

The string is :
sayan 1 2 saha
The numbers list is :
[1, 2]

25. Extract all alphabets from a string.

In [8]:
my_string = "sayan 1 2 saha"

print("The string is : ")
print(my_string)

my_result = [(i) for i in my_string.split() if i.isalpha()]

print("The alphabet list is :")
print(my_result)

The string is :
sayan 1 2 saha
The alphabet list is :
['sayan', 'saha']

26. Count the number of uppercase letters in a string.

In [10]:
my_string = "I AM Sayan Saha"
upper = 0
for i in my_string:
    if(i.isupper()):
        upper = upper + 1
print("The number of uppercase characters is:",upper)

The number of uppercase characters is: 5

27. Count the number of lowercase letters in a string.

In [3]:
my_string = "i AM Sayan Saha"
lower = 0
for check in my_string:
    if check.islower() == True:
        lower = lower + 1
print("the number of lowercase characters is:", lower)

the number of lowercase characters is: 8

28. Swap the case of each character in a string.

In [5]:
str = input("enter your string")
str_new = str.swapcase()
print("the string after case swapping is", str_new)

enter your string sAyaN

the string after case swapping is SaYAn

29. Remove a specific word from a string.

In [9]:
str = input("enter your string")
str_remove = input("enter word to be removed")
str_new = str.replace(str_remove, "")
print(str_new)

enter your string i love coding
enter word to be removed coding

i love

30. Check if a string is a valid email address.

In [13]:
import re

def validate_email(s):
   pat = "^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{1,3}$"
   if re.match(pat,s):
      return True
   return False

s = input("enter the string to validate: ")
print(validate_email(s))

enter the string to validate:  sayan99@gmail.com

True

31. Extract the username from an email address string.

In [28]:
str = input("enter a string to check:")
temp = str.index("@")
user_name = str[0:temp]
print(user_name)

enter a string to check: sayansaha905@gmail.com

sayansaha905

32. Extract the domain name from an email address string.

In [23]:
str = input("enter a string to check:")
temp = str.index("@") + 1
domain_name = str[temp:]
print(domain_name)

enter a string to check: sayansaha905@gmail.com

gmail.com

33. Replace multiple spaces in a string with a single space.

In [30]:
str = input("enter the string to clean:")
print(str)
str_temp = str.split()
print(str_temp)
str_new = " ".join(str_temp)
print(str_new)

enter the string to clean: hello  who    is this

hello  who    is this
['hello', 'who', 'is', 'this']
hello who is this

34. Check if a string is a valid URL.

In [34]:
import re

def validate_url(s):
   pat = r'^(http|https):\/\/([\w.-]+)(\.[\w.-]+)+([\/\w\.-]*)*\/?$'
   if re.match(pat,s):
      return True
   return False

s = input("enter the string to validate: ")
print(validate_url(s))

enter the string to validate:  https://google.com

True

35.Extract the protocol (http or https) from a URL string.

In [36]:
str = input("enter the string url")
temp = str.index(":")
str_new = str[0:temp]
print(str_new)

enter the string url https://google.com

https

36. Find the frequency of each character in a string.

In [9]:

test_str = "sayansaha"

all_freq = {}
 
for i in test_str:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
 
print(str(all_freq))

{'s': 2, 'a': 4, 'y': 1, 'n': 1, 'h': 1}

37. Remove all punctuation from a string.

In [13]:
test_str = "I! am: sayan, saha ;"

punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
for i in test_str:
    if i in punc:
        test_str = test_str.replace(i, "")

print("The string after punctuation filter : " + test_str)

The string after punctuation filter : I am sayan saha

38. Check if a string contains only digits.

In [20]:
str = input("enter the string")
if str.isdigit() == True:
    print("the string contains only digits")
else: 
    print("the string doesn't contain only digits")

enter the string 23445

the string contains only digits

39. Check if a string contains only alphabets.

In [22]:
str = input("enter the string")
if str.isalpha() == True:
    print("the string contains only alphabeta")
else: 
    print("the string doesn't contain only alphabeta")

enter the string sayan

the string contains only alphabeta

40. Convert a string to a list of characters.

In [23]:
str = input("enter the string")
str_new = str.split()
print(str_new)

enter the string i am sayan

['i', 'am', 'sayan']

41. Check if two strings are anagrams.

In [1]:
s1 ="listen"
s2 ="silent"
     
if(sorted(s1)== sorted(s2)):
    print("The strings are anagrams.") 
else:
    print("The strings aren't anagrams.")

The strings are anagrams.

42. Encode a string using a Caesar cipher.

In [9]:
def encrypt(text,s):
    result = ""

    for i in range(len(text)):
        char = text[i]
 
        if (char.isupper()):
            result += chr((ord(char) + s-65) % 26 + 65)
 
        else:
            result += chr((ord(char) + s - 97) % 26 + 97)
 
    return result
 
text = "HELLOSAYAN"
s = 4
print ("Text  : " + text)
print ("Shift : " + str(s))
print ("Cipher: " + encrypt(text,s))

Text  : HELLOSAYAN
Shift : 4
Cipher: LIPPSWECER

43. Decode a Caesar cipher encoded string.

In [20]:
def encrypt(text,s):
    result = ""

    for i in range(len(text)):
        char = text[i]
 
        if (char.isupper()):
            result += chr((ord(char) + s-65) % 26 + 65)
 
        else:
            result += chr((ord(char) + s - 97) % 26 + 97)
 
    return result
 
text = "LIPPSWECER"
s = -4
print ("Text  : " + text)
print ("Shift : " + str(s))
print ("Cipher: " + encrypt(text,s))

Text  : LIPPSWECER
Shift : -4
Cipher: HELLOSAYAN

44. Find the most frequent word in a string.

In [1]:
from collections import defaultdict
 

test_list = ["i am sayan", "sayan is great", "sayan"]
 
print("The original list is : " + str(test_list))
 
temp = defaultdict(int)
 
for sub in test_list:
    for wrd in sub.split():
        temp[wrd] += 1
 
res = max(temp, key=temp.get)
 
print("Word with maximum frequency : " + str(res))

The original list is : ['i am sayan', 'sayan is great', 'sayan']
Word with maximum frequency : sayan

45. Find all unique words in a string.

In [3]:
str = "sayan is sayan"

temp = set(str.split())

for i in temp:
    print(i)

is
sayan

46. Count the number of syllables in a string.

In [6]:
def syllables(word):
    count = 0
    vowels = 'aeiouy'
    word = word.lower().strip(".:;?!")
    if word[0] in vowels:
        count +=1
    for index in range(1,len(word)):
        if word[index] in vowels and word[index-1] not in vowels:
            count +=1
    if word.endswith('e'):
        count -= 1
    if word.endswith('le'):
        count+=1
    if count == 0:
        count +=1
    return count

syllables("i am sayan")

3

47. Check if a string contains any special characters.

In [14]:
str = "!sayan123@#"
sp_char="@#!-_"
count = 0

for i in str:
    if i in sp_char:
       count = count + 1
if count > 0:
    print(f"the string contains {count} no. special character")

the string contains 3 no. special character

48. Remove the nth word from a string.

In [31]:
def RemoveIthWord(lst, word, N):
    newList = []
    count = 0
 
    for i in lst:
        if(i == word):
            count = count + 1
            if(count != N):
                newList.append(i)
        else:
            newList.append(i)
 
    lst = newList
 
    if count == 0:
        print("Item not found")
    else:
        print("Updated list is: ", lst)
 
    return newList
 
list = ["sayan", "for", "sayan"]
word = "sayan"
N = 2
 
RemoveIthWord(list, word, N)

Updated list is:  ['sayan', 'for']

['sayan', 'for']

49. Insert a word at the nth position in a string.

In [34]:

inputString = "sayansaha"

temp = int(input("input the number of the index"))

inputString = inputString[:temp] + 'p' + inputString[temp:]


print("Adding 'p' at 8th index of an input string:\n", inputString)

input the number of the index 0

Adding 'p' at 8th index of an input string:
 psayansaha

50. Convert a CSV string to a list of lists.

In [3]:
"""import csv 
  
with open('sample.csv', 'r') as read_obj: 

    csv_reader = csv.reader(read_obj) 
  
    # convert string to list 
    list_of_csv = list(csv_reader) 
  
    print(list_of_csv) """

"import csv \n  \nwith open('sample.csv', 'r') as read_obj: \n\n    csv_reader = csv.reader(read_obj) \n  \n    # convert string to list \n    list_of_csv = list(csv_reader) \n  \n    print(list_of_csv) "


List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [18]:
integer_list = []

for i in range(1,11):
    integer_list.append(i)
    
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [21]:
list = [2, 4, 6, 8, 10]
count = 0

for i in list:
    count = count + 1
print(f"the length of the list is {count}")

the length of the list is 5

3. Append an element to the end of a list.

In [22]:
list = [2, 4, 6, 8]
val = 10

list.append(val)

print(list)

[2, 4, 6, 8, 10]

4. Insert an element at a specific index in a list.

In [24]:
list = [2, 4, 6, 8]
val = 10
index = 2
list.insert(index, val)
print(list)

[2, 4, 10, 6, 8]

5. Remove an element from a list by its value.

In [31]:
list = [2, 4, 6, 8]
val = int(input("enter the value to be removed"))
list.remove(val)
print(list)

enter the value to be removed 2

[4, 6, 8]

6. Remove an element from a list by its index.

In [34]:
list = [2, 4, 6, 8]
val = 1
list.pop(val)
print(list)

[2, 6, 8]

7. Check if an element exists in a list.

In [41]:
list = [2, 4, 6, 8]
val = 2

if val in list:
    print(f"the element {val} exists in the list")
else:
    print("the element doesn't exist in the list")

the element 2 exists in the list

8. Find the index of the first occurrence of an element in a list.

In [43]:
list = [2,4,6,8]

print(list.index(8))

3

9. Count the occurrences of an element in a list.

In [44]:
list = [2,4,6,8,2,2]

print(list.count(2))

3

10. Reverse the order of elements in a list.

In [45]:
list = [2,4,6,8,2,2]

new_list = list[::-1]

print(new_list)

[2, 2, 8, 6, 4, 2]

11. Sort a list in ascending order.

In [48]:
list = [65,20,1,99]

list.sort()

print(list)

[1, 20, 65, 99]

12. Sort a list in descending order.

In [49]:
list = [65,20,1,99]

list.sort(reverse=True)

print(list)

[99, 65, 20, 1]

13. Create a list of even numbers from 1 to 20.

In [3]:


new_list = [i for i in range(1,21) if i%2==0]

print(new_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [55]:
list = []

new_list = [i for i in range(1,21) if not i%2==0]

print(new_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [60]:
list = [1,2,3,4,5,6]

sum = 0

for i in list:
   sum = sum + i
    
print(sum)

21

16. Find the maximum value in a list.

In [70]:
list = [2,5,600,8,10,80]

max_value = max(list)

print(max_value)

600

17. Find the minimum value in a list.

In [71]:
list = [2,5,600,8,10,80]

min_value = min(list)

print(min_value)

2

18. Create a list of squares of numbers from 1 to 10.

In [2]:


new_list = [i*i for i in range(1,11)]

print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [76]:
import random

random_integers = [random.randint(1, 100) for _ in range(10)]

print("List of random integers:", random_integers)

List of random integers: [43, 81, 43, 82, 9, 51, 74, 28, 75, 59]

20. Remove duplicates from a list.

In [1]:
my_list = [10, 20, 30, 20, 40, 10, 50, 30]


unique_list = list(set(my_list))

print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

21. Find the common elements between two lists.

In [6]:
my_list = [10, 20, 30]
new_list = [10, 12, 13]

common = [i for i in my_list if i in new_list]

print(common)

[10]

22. Find the difference between two lists.

In [10]:
my_list = [10, 20, 30, 5]
new_list = [10, 12, 13]

uncommon = [i for i in my_list if not i in new_list]

print(uncommon)

[20, 30, 5]

23. Merge two lists.

In [11]:
my_list = [10, 20, 30, 5]
new_list = [10, 12, 13]

merge = my_list + new_list

print(merge)

[10, 20, 30, 5, 10, 12, 13]

24. Multiply all elements in a list by 2.

In [12]:
my_list = [10, 20, 30, 5]

new_list = [i*2 for i in my_list]

print(new_list)

[20, 40, 60, 10]

25. Filter out all even numbers from a list.

In [16]:
my_list = [7, 10, 20, 30, 5]

new_list = [i for i in my_list if not i%2==0]

print(new_list)

[7, 5]

26. Convert a list of strings to a list of integers.

In [18]:
my_list = ["7", "10", "20", "30", "5"]

new_list = [int(i) for i in my_list]

print(new_list)

[7, 10, 20, 30, 5]

27. Convert a list of integers to a list of strings.

In [3]:
my_list = [7,10,23,24,45]

new_list = [str(i) for i in my_list]

print(new_list)

['7', '10', '23', '24', '45']

28. Flatten a nested list.

In [4]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = []
for i in my_list:
    for num in i:
        flat_list.append(num)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

29. Create a list of the first 10 Fibonacci numbers.

In [6]:
def fibonacci_nums(n):
  if n <= 0:
    return [0]
  sequence = [0, 1]
  while len(sequence) <= n:
    next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
    sequence.append(next_value)
  return sequence
print("First 7 Fibonacci numbers:")
print(fibonacci_nums(7))

First 7 Fibonacci numbers:
[0, 1, 1, 2, 3, 5, 8, 13]

30. Check if a list is sorted.

In [31]:

def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True


ascending_list = [10, 20, 30, 40, 50]


if is_sorted_ascending(ascending_list) == True:
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

31. Rotate a list to the left by `n` positions.

In [36]:
lst = [1,2,3,4,5,6]
n = int(input("enter the n value"))
new_list = lst[n:] + lst[:n]
print(new_list)

enter the n value 3

[4, 5, 6, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [39]:
lst = [1,2,3,4,5,6]
n = int(input("enter the n value"))
new_list = lst[-n:] + lst[:-n]
print(new_list)

enter the n value 3

[4, 5, 6, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [44]:

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True


prime_numbers = [num for num in range(2,30) if is_prime(num)]


print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. Split a list into chunks of size `n`.

In [1]:


my_list = ['i', 'am', 'great', 'morning', 
           'saha','nerdy', 'saha', 'love', 
               'questions','words', 'life'] 
  

def divide_chunks(l, n): 
      
    # looping till length l 
    for i in range(0, len(l), n):  
        yield l[i:i + n] 
  

n = 5
  
x = list(divide_chunks(my_list, n)) 
print (x)

[['i', 'am', 'great', 'morning', 'saha'], ['nerdy', 'saha', 'love', 'questions', 'words'], ['life']]

35. Find the second largest number in a list.

In [5]:
list = [432,65,20,1,99]

list.sort()

print("the 2nd largest number is", list[-2] )

the 2nd largest number is 99

36. Replace every element in a list with its square.

In [7]:
list = [2,5,6,7]

list = [i*i for i in list]
print(list)

[4, 25, 36, 49]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [8]:

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']


my_dict = {element: index for index, element in enumerate(my_list)}


print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38. Shuffle the elements of a list randomly.

In [9]:
import random


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


random.shuffle(my_list)


print("Shuffled list:", my_list)

Shuffled list: [1, 6, 8, 4, 5, 10, 3, 2, 7, 9]

39. Create a list of the first 10 factorial numbers.

In [19]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n * fact(n-1)


fact_list = [fact(i) for i in range(0,10)]


print(fact_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [40]:

def has_common_element(list1, list2):
    for i in list1:
        if i in list2:
            return True
    else:
        return False
              
list1 = [2,3,5]
list2 = [7,6,1, 2]

if has_common_element(list1, list2):
    print("common element has been found")
else:
    print("no common element has been found")

common element has been found

41. Remove all elements from a list.

In [41]:
list = [2,3,4]

list.clear()

print(list)

[]

42. Replace negative numbers in a list with 0.

In [46]:
list = [-1,4,5,-9]

for i in range(len(list)):
    if list[i] < 0:
        list[i] = 0
print(list)

[0, 4, 5, 0]

43. Convert a string into a list of words.

In [5]:
str = "hello man how are you"
lst = str.split(" ")
print(lst)

['hello', 'man', 'how', 'are', 'you']

44.Convert a list of words into a string.

In [9]:
lst = ['hello', 'man', 'how', 'are', 'you']

str = " ".join(lst)

print(str)

hello man how are you

45. Create a list of the first `n` powers of 2.

In [11]:
n = 10

lst = [2**i for i in range(10)]
print(lst)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

46. Find the longest string in a list of strings.

In [12]:
lst1 = [2,4]
lst2 = [3,5,9]

if len(lst1)>len(lst2):
    print(f"{lst1} is the longest string")
else:
    print(f"{lst2} is the longest string")

[3, 5, 9] is the longest string

47. Find the shortest string in a list of strings.

In [13]:
lst1 = [2,4]
lst2 = [3,5,9]

if len(lst1)<len(lst2):
    print(f"{lst1} is the shortest string")
else:
    print(f"{lst2} is the shortest string")

[2, 4] is the shortest string

48. Create a list of the first `n` triangular numbers.

In [14]:

def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]


n = 5


triangular_list = triangular_numbers(n)


print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [15]:

def is_subsequence(subsequence, main_list):
    subseq_index = 0  
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False


main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]


if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

50. Swap two elements in a list by their indices.

In [16]:

my_list = [1, 2, 3, 4, 5]


index1 = 1
index2 = 3


temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp


print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [4]:
t = ()

lst = list(t)

for i in range(6):
    lst.append(i)

print (tuple(lst))

(0, 1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [5]:
t = (0, 1, 2, 3, 4, 5)

print(t[2])

2

3. Find the length of a tuple without using the `len()` function.

In [6]:
t = (0, 1, 2, 3, 4, 5)

count = 0

for char in t:
    count = count+1

print(count)

6

4. Count the occurrences of an element in a tuple.

In [8]:
t = (0, 1, 1, 3, 4, 5)

count = 0

element = 1

for i in t:
    if t[i]==1:
        count=count+1
    
print(count)

2

5. Find the index of the first occurrence of an element in a tuple.

In [11]:
t = (0, 1, 1, 3, 4, 5)

element = 3

for i in t:
    if i == element:
        print("the first index of element is", t[i])
        break

the first index of element is 3

6. Check if an element exists in a tuple.

In [33]:
t = (0, 1, 1, 3, 4, 5)

element = 3

if element in t:
    print(f"the element {element} exists in tuple")
else:
          print("doesn't exist")

the element 3 exists in tuple

7. Convert a tuple to a list.

In [34]:
t = (0, 1, 1, 3, 4, 5)

lst = list(t)

print(lst)

[0, 1, 1, 3, 4, 5]

8. Convert a list to a tuple.

In [35]:
lst = [0, 1, 1, 3, 4, 5]

t = tuple(lst)

print(t)

(0, 1, 1, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [38]:

my_tuple = (10, 20, 30)

var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

10. Create a tuple of even numbers from 1 to 10.

In [48]:
lst = [i for i in range(1,11) if i % 2 == 0]

print(tuple(lst))

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [49]:
lst = [i for i in range(1,11) if not i % 2 == 0]

print(tuple(lst))

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [50]:
t1 = (1,2)
t2 = (3,4)

t = t1+t2

print(t)

(1, 2, 3, 4)

13. Repeat a tuple three times.

In [51]:
t = (1,2)

print(t*3)

(1, 2, 1, 2, 1, 2)

14. Check if a tuple is empty.

In [57]:
t = ()

if len(t) == 0:
    print("the tuple is empty")
else:
    print("the tuple isn't empty")

the tuple is empty

15. Create a nested tuple.

In [59]:

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [69]:
t = ((1, 2, 3), ('a', 'b', 'c'), (True, False))


print(t[0])

(1, 2, 3)

17. Create a tuple with a single element.

In [74]:
t = (1,)

print(t)

(1,)

18. Compare two tuples.

In [75]:

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2) 
print("tuple1 < tuple2:", tuple1 < tuple2)   
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [76]:
t = (1,2)

del t

print(t)

NameError: name 't' is not defined

20. Slice a tuple.

In [77]:
t = (3,5,1,7,9,11)

print(t[0:3])

(3, 5, 1)

21. Find the maximum value in a tuple.

In [2]:
t = (3,5,1,7,9,11)

m = max(t)

print(m)

11

22. Find the minimum value in a tuple.

In [3]:
t = (3,5,1,7,9,11)

m = min(t)

print(m)

1

23. Convert a string to a tuple of characters.

In [5]:
str = ("hello")

t = tuple(str)

print(t)

('h', 'e', 'l', 'l', 'o')

24. Convert a tuple of characters to a string.

In [9]:
t = ('h', 'e', 'l', 'l', 'o')

string = "".join(t)

print(string)

hello

25. Create a tuple from multiple data types.

In [10]:
mixed_tuple = (1, "hello", 3.14, True)

print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [14]:
t1 = (1,2)

t2 = (1,2)

if t1==t2:
    print("tuples are identical")
else:
    print("tuples are not identical")

tuples are identical

27. Sort the elements of a tuple.

In [17]:
t = [1,5,2,9,3]

lst = list(t)

lst.sort()

print(tuple(lst))

(1, 2, 3, 5, 9)

28. Convert a tuple of integers to a tuple of strings.

In [3]:

tuple_of_integers = (1, 2, 3, 4, 5)

tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [5]:
tuple_of_string = ('1', '2', '3', '4', '5')

tuple_of_int = tuple(int(item) for item in tuple_of_string)

print("Tuple of strings:", tuple_of_int)

Tuple of strings: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [6]:

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)


merged_tuple = tuple1 + tuple2


print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [1]:

def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened


nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))


flattened_tuple = tuple(flatten_tuple(nested_tuple))


print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [7]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True


prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]


prime_numbers_tuple = tuple(prime_numbers_list)


print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [10]:
t = (1,1,1)

if t == t[::-1]:
    print("the tuple is palindrone")
else:
    print("not palindrone")

the tuple is palindrone

34. Create a tuple of squares of numbers from 1 to 5.

In [2]:
lst = [i*i for i in range(1,6)]

print(tuple(lst))

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [4]:
t = (1,3,5,7,12,14,18)

lst = list(t)

new_lst = [i for i in lst if i%2!=0]

print(tuple(new_lst))

(1, 3, 5, 7)

36. Multiply all elements in a tuple by 2.

In [5]:
t = (1,3,5,7,12,14,18)

print(tuple([i*2 for i in t]))

(2, 6, 10, 14, 24, 28, 36)

37. Create a tuple of random numbers.

In [7]:
import random


random_tuple = tuple(random.randint(1, 100) for _ in range(10))  

print("Random tuple:", random_tuple)

Random tuple: (89, 90, 47, 90, 18, 57, 61, 44, 64, 17)

38. Check if a tuple is sorted.

In [8]:

def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True


sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)


is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)


print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [15]:
tuple = (1, 2, 3, 4, 5, 6)

n = 3

new_tuple = tuple[n:] + tuple[0:n]

print(new_tuple)

(4, 5, 6, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [14]:
tuple = (1, 2, 3, 4, 5, 6)

n = 3

new_tuple = tuple[-n:] + tuple[:-n]

print(new_tuple)

(4, 5, 6, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [1]:

def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number) 
    return tuple(fibonacci) 


fibonacci_tuple = generate_fibonacci(5)


print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [4]:
str = input("Enter elements separated by commas: ")

n = str.split(",")

print(tuple(n))

Enter elements separated by commas:  2,3,4

('2', '3', '4')

43. Swap two elements in a tuple.

In [5]:
t = [1,3,5,7,9]

index1= 1

index2 = 2

temp = t[1]

t[1] = t[2]
t[2] = temp

print(t)

[1, 5, 3, 7, 9]

44. Reverse the elements of a tuple.

In [7]:
t = (1,3,5,7,9)

print(t[::-1])

(9, 7, 5, 3, 1)

45. Create a tuple of the first `n` powers of 2.

In [8]:
n = 5


powers_of_2_tuple = tuple(2 ** i for i in range(n))


print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [7]:

string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")


longest_string = max(string_tuple, key=len)


print("Longest string:", longest_string)

Longest string: watermelon

47. Find the shortest string in a tuple of strings.

In [8]:

string_tuple = ("am", "apple", "banana", "grape", "kiwi", "watermelon")


small_string = min(string_tuple, key=len)


print("Longest string:", small_string)

Longest string: am

48. Create a tuple of the first `n` triangular numbers.

In [9]:

n = 5


triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))


print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [10]:

def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False


main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)


sub_tuple = (3, 4, 5)


contains_subseq = contains_subsequence(main_tuple, sub_tuple)


print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [11]:

n = 10


alternating_tuple = tuple(i % 2 for i in range(n))


print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem

1. Create a set with integers from 1 to 5.

In [1]:
s = [i for i in range(6)]

set_int = set(s)

print(set_int)

{0, 1, 2, 3, 4, 5}

2. Add an element to a set.

In [2]:
s = {1,2,3}

s.add(6)

print(s)

{1, 2, 3, 6}

3. Remove an element from a set.

In [3]:
s = {1,2,3}

s.remove(3)

print(s)

{1, 2}

4. Check if an element exists in a set.

In [6]:
s = {1,2,4}

if 3 in s:
    print("it exists")
else:
    print("it doesn't exist")

it doesn't exist

5. Find the length of a set without using the `len()` function.

In [9]:
s = {1,2,4,6,8}

count = 0

for i in s:
    count = count + 1
    
print("the length is:", count)

the length is: 5

6. Clear all elements from a set.

In [10]:
s = {1,2,4,6,8}

s.clear()

print(s)

set()

7. Create a set of even numbers from 1 to 10.

In [13]:
s = [i for i in range(1,11) if i%2==0]

print(set(s))

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [14]:
s = [i for i in range(1,11) if not i%2==0]

print(set(s))

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [15]:
s1 = {1,2}

s2 = {3,4}

s = s1.union(s2)

print(s)

{1, 2, 3, 4}

10. Find the intersection of two sets.

In [16]:
s1 = {1,2}

s2 = {1, 3,4}

s = s1.intersection(s2)

print(s)

{1}

11. Find the difference between two sets.

In [17]:
s1 = {1,2}

s2 = {1, 3,4}

s = s1.difference(s2)

print(s)

{2}

12. Check if a set is a subset of another set.

In [21]:
s1 = {1,2}

s2 = {1, 2, 4, 5}

print(s1.issubset(s2))

True

13. Check if a set is a superset of another set.

In [23]:
s1 = {1,2}

s2 = {1, 2, 4, 5}

print(s2.issuperset(s1))

True

14. Create a set from a list.

In [24]:
l = [1,2,3,4]

s = set(l)

print(s)

{1, 2, 3, 4}

15. Convert a set to a list.

In [25]:
s = {1, 2, 3, 4}

l = list(s)

print(l)

[1, 2, 3, 4]

16. Remove a random element from a set.

In [28]:
import random  


my_set = {1, 2, 3, 4, 5}


print("Original set:", my_set)


random_element = random.choice(list(my_set))


my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

17. Pop an element from a set.

In [30]:
s = {2,3,5}

s.pop()

print(s)

{3, 5}

18. Check if two sets have no elements in common.

In [33]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8, 1}


common_elements = set1.intersection(set2)


if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have common elements: {1}

19. Find the symmetric difference between two sets.

In [34]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8, 1}

print(set1.symmetric_difference(set2))

{2, 3, 4, 5, 6, 7, 8}

20. Update a set with elements from another set.

In [2]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8, 1}

s = set1.update(set2)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [3]:

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True


prime_set = set()


num = 2


while len(prime_set) < 5:
   
    if is_prime(num):
       
        prime_set.add(num)

    
    num += 1


print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [4]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [5]:
e = [1,2,3,4]

f = frozenset(e)

print(f)

frozenset({1, 2, 3, 4})

24. Check if a set is disjoint with another set.

In [7]:
set1 = {1, 2, 3, 4, 5}
set2 = {15}

print(set1.isdisjoint(set2))

True

25. Create a set of squares of numbers from 1 to 5.

In [8]:
s = [i*i for i in range(1,6)]

print(set(s))

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [9]:
s = {1,3,4,6}

even = set()

for i in s:
    if i%2==0:
        even.add(i)
print(even)

{4, 6}

27. Multiply all elements in a set by 2.

In [12]:
s = {1,3,4,6}

s2 = set()

for i in s:
    s2.add(i*2)
print(s2)

{8, 2, 12, 6}

28. Create a set of random numbers.

In [14]:
import random

random_number_set = set()
num_random_numbers = 5

for _ in range(num_random_numbers):
    
    random_num = random.randint(1, 100)  
    
    random_number_set.add(random_num)


print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {66, 9, 83, 87, 28}

29. Check if a set is empty.

In [15]:
s = set()

if len(s)==0:
    print("set is empty")
else:
    print("set isn't empty")

set is empty

30. Create a nested set (hint: use frozenset).

In [16]:

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}


frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)


nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [17]:
set1 = {1, 2, 3, 4, 5}

set1.discard(1)

print(set1)

{2, 3, 4, 5}

32. Compare two sets.

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}


is_subset = set1.issubset(set2)


is_superset = set1.issuperset(set2)


intersection = set1.intersection(set2)


union = set1.union(set2)


difference1 = set1.difference(set2)


difference2 = set2.difference(set1)


print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [20]:
st = "sayan"

s = set(st)

print(s)

{'a', 'y', 's', 'n'}

34. Convert a set of strings to a set of integers.

In [25]:

string_set = {"123", "456", "789"}


integer_set = set()


for string in string_set:
    
    integer_value = int(string)
   
    integer_set.add(integer_value)


print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '789', '456'}
Converted Integer Set: {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [29]:
int_set = {123, 456, 789}


str_set = set()


for string in int_set:
    
    str_value = str(string)
   
    str_set.add(str_value)


print("Original String Set:", int_set)
print("Converted Integer Set:", str_set)

Original String Set: {456, 123, 789}
Converted Integer Set: {'123', '789', '456'}

36. Create a set from a tuple.

t = (1,2,3)

print(set(t))

37. Convert a set to a tuple.

In [33]:
s = {1, 2, 3}

print(tuple(s))

(1, 2, 3)

38. Find the maximum value in a set.

In [38]:
my_set = {15, 7, 22, 13, 8}


max_value = None


for num in my_set:
   
    if max_value is None or num > max_value:
        max_value = num  


print("Maximum value:", max_value)

Maximum value: 22

39. Find the minimum value in a set.

In [41]:
my_set = {15, 7, 22, 13, 8}


min_value = None


for num in my_set:
   
    if min_value is None or num < min_value:
        min_value = num  


print("Maximum value:", min_value)

Maximum value: 7

40. Create a set from user input.

In [43]:
user_set = set()


print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  

    if user_input.lower() == 'done':
        break  


    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  sayan
>  saha
>  done

Final set: {'sayan', 'saha'}

41. Check if the intersection of two sets is empty.

In [44]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}


intersection_result = set1.intersection(set2)


if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [45]:

fibonacci_set = set()


a, b = 0, 1


for _ in range(6):
    
    fibonacci_set.add(a)

  
    a, b = b, a + b


print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [46]:
ls = [1,1,2,2,4]

print(set(ls))

{1, 2, 4}

44. Check if two sets have the same elements, regardless of their count.

In [47]:
def have_same_elements(set1, set2):
 
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

   
    return sorted_list1 == sorted_list2

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

result = have_same_elements(set1, set2)


if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [50]:
n = 3

s = [2**i for i in range(n)]

print(set(s))

{1, 2, 4}

46. Find the common elements between a set and a list.

In [51]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]


list_to_set = set(my_list)


common_elements = []


for element in my_set:
   
    if element in list_to_set:
     
        common_elements.append(element)


print("Common elements:", common_elements)

Common elements: [7, 9, 12]

47. Create a set of the first `n` triangular numbers.

In [52]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2 
        triangular_numbers.add(triangular_number)  
    return triangular_numbers


n = int(input("Enter the value of n: "))


triangular_set = generate_triangular_numbers(n)


print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  5

The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [53]:
s1 = {1, 2, 3}
s2 = {2, 3}

subset = s2.issubset(s1)

if subset:
    print("s2 is a subset of s1")
else:
    print("s2 is not a subset of s1")

s2 is a subset of s1

49. Create a set of alternating 1s and 0s of length `n`.

In [55]:
def create_alternating_set(n):
    
    alternating_set = set()

  
    for i in range(n):
       
        if i % 2 == 0:
            alternating_set.add(1) 
        else:
            alternating_set.add(0) 

    return alternating_set


length_n = 10


result = create_alternating_set(length_n)


print(result)

{0, 1}

50. Merge multiple sets into one.

In [56]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}


merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}